* {
  margin: 0;
}

@import url("//fonts.googleapis.com/css?family=Noto+Serif+SC");

body {
  color: #f7fff7;
  font-family: "Noto Serif SC";
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 10px;
}

.pageMain {
  flex-grow: 1;
  background: #ff8811;
}

.pageHeader {
  background: #ff8811;
}

.pageHeader nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pageHeader ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 0;
  justify-content: center;
}

@media screen and (min-width: 550px) {
  .pageHeader ul {
    width: auto;
    margin-top: 0;
    padding: 1rem;
  }
  .pageHeader nav {
    justify-content: space-between;
  }
}

.pageHeader ul li {
  display: inline-block;
  margin-right: 3em;
}

.logo {
  height: 4.5rem;
}

.pageFooter img {
  color: black;
  width: 1.25rem;
}

.pageFooter {
  background: #ff8811;
}

.pageFooter nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pageFooter ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 0;
  justify-content: center;
}

.pageFooter ul li {
  display: inline-block;
  margin-right: 3em;
}

.pageFooter p {
  margin-bottom: 1em;
}
