* {
  margin: 0;
}

@import url("//fonts.googleapis.com/css?family=Noto+Serif+SC");

body {
  color: #f7fff7;
  font-family: "Noto Serif SC";
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 10px;
}

.page-header {
  background: #ff8811;
}

.page-main {
  flex-grow: 1;
  background: #ff8811;
}

.page-footer {
  background: #ff8811;
}

.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 0;
  justify-content: center;
}

@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
    padding: 1rem;
  }
  .page-header nav {
    justify-content: space-between;
  }
}

.page-header ul li {
  display: inline-block;
  margin-right: 3em;
}

.logo {
  height: 4.5rem;
}
